@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
body {
  margin: 20px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Quicksand', sans-serif;
}
#header{
  text-align:center;  
}

.slot {
  border: 4px solid;
  border-color: #171717;
  border-radius: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;  
  background-color: #DEDEDE;
  display:table;
  width:100%;
}
.slot div{
    display:table-cell;
}
.slot:hover{
    -ms-transform: scale(1.05,1.05); /* IE 9 */
    -webkit-transform: scale(1.05,1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05,1.05);
}

.timestamp {
  text-align: center;
  font-weight: bold;
  font-size: large;
  width:100px;
  font-weight:400;
}

.booked_by {
  float: center;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.actions {
  text-align:right;
  width: 300px;
  width: 150px;
}

.action-links{
  font-weight: bold;
  font-size: large;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.action-links:hover{
  background-color:#000;
  color: #FFF;
  text-decoration: none;
}
a{
  color:#414141;
  padding: 5px; 
}
a:hover{
  color:#414141;
  text-decoration: none;
}
#date_controls{
  font-size: 50px;
  font-weight: 300;
  text-align:center;
}
h1 a{
  text-align:center;
  font-size:120px;
  color: #171717;
  border-bottom: 5px solid #171717;
  border-top: 5px solid #171717;
  padding-bottom: 3px;
  padding-top: 3px;
  
}
h1 a:hover{
  text-decoration:none;
  color: #171717;
}
a:active, a:visited {
  color: #171717;
  text-decoration: none;
}
a:hover {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 3.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 3.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 3.0; }
}
input {
  padding: 10px;  
  font-size:40px;
}