<h1><flash>THAT DATE IS NO GOOD</flash></h1>
<h1><a href="/">GO BACK</a></h1>
<marquee><h2>LOL OLOLOL LOL OLOLOL LOL LOL LOL OLOLOL LOL OLOLOL LOL LOLLOL OLOLOL LOL OLOLOL LOL LOL LOL OLOLOL LOL OLOLOL LOL LOL</h2></marquee>

<marquee><img src="/images/rob_standing.jpg"></marquee>